ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(185, 74, 10);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(104, 48, 6);
  }

  .active {
    background-color: rgb(104, 48, 6);
  }

body {
    margin: 0;
	font-family: "Exo", sans-serif;
	background-color: #997f66;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }

h3 {
    border: 10px white;
    font-size:x-large;
}

.inline {
    float: left;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;

  }


  #biography {
    margin: 50px 0;
    text-align: center;

  }
  
  #conception {
    margin: 50px 0;
    text-align: center;
  }
  #personality{
    margin: 50px 0;
    text-align: center;

  }


   p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    margin-top: 10px;
    text-align: left;
    line-height: 1.6;
  }

  .content {
    padding-top: 50px;
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .resized {  
    height: 60%;
  }